
@{
    ViewBag.Title = "AssignDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Assign Task Successfully.</h2>

<div>
        <input type="button"
               value="Back To Create Form"
               onclick="location.href='@Url.Action("CreateForm", "Account")'" />
    </div>