
@{
    ViewBag.Title = "FormSubmitd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center"> Form Submitted Successfully.</h2>

<div>
    @Html.ActionLink("Back to List", "Login","Account")
</div>
